<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Rutas</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="toast-container"></div>

    <div class="floating-panel">
        <div class="header">
            Gestión de Rutas
        </div>
        
        <div class="points-container" id="listaPuntos">
            </div>

        <button class="btn-main" id="btnCalcular" onclick="calcularRuta()" disabled>
            Calcular Ruta
        </button>
    </div>

    <div id="map"></div>

    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>